<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer [mode]="'side'" class="sidenav" opened>
    <!--fixedInViewport="true"-->
    <!--[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"-->

    <!--[opened]="!(isHandset$ | async)">-->
    <mat-toolbar class="mat-toolbar-side" color="primary">
      <span style="padding: 0px 0px 0px 16px;">SCORE Authoring</span>
    </mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let link of displaySideNavLinks();">
        <a [routerLinkActive]="'active'" [routerLink]="link.link" mat-list-item>
          <mat-icon class="sidenav-icon">{{link.icon}}</mat-icon>
          <span style="color: white;">{{link.name}}</span></a>
      </div>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" aria-label="Toggle sidenav" mat-icon-button type="button" matTooltip="expand or collapse side navigation">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="nav-spacer"></span>


      <div style="width: 10px"></div>
      <!--</a>-->
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-drawer-content>
</mat-drawer-container>
